{%extends 'base.html'%}

{%block main_block%}

<div class="container">

        
    <h1 class="text-center">welcome user {{request.user}}</h1>
    
    <div class="d-flex justify-content-end p-4">
        <a href="{%url 'expense-add'%}" class="btn btn-outline-success" type="submit">add</a>
        <a href="{%url 'expense-signout'%}" class="btn btn-outline-danger" type="submit">logout</a>

    </div>
    <div class="row">
       {%for e in expense%}
            <div class="col-4">
                <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header d-flex justify-content-between">
                        <div>{{e.user}}</div>
                        <div> {{e.amount}}</div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{e.title}}</h5>
                        
                    </div>
                    <div class="card-footer text-body-white">
                        <div>category:{{e.category}}</div>
                        created date:{{e.created_date|date}}
                        <a href="{%url 'expense-update' e.id%}" class="btn btn-primary">update</a>
                        <a href="{%url 'expense-delete' e.id%}" class="btn btn-danger">remove</a>

                        
                    </div>
                </div>
            </div>

       {%endfor%}
        </div>
    </div>
</div>


{%endblock%}